<div class="top-level">
  <div class="window-title">
    <h1>{{windTitle}}</h1>
  </div>
  <div class="container">
    <div class="container-item" *ngFor="let item of category">
      <div class="fav-icon" [ngClass]="{'active': favCategory == item.code}" ><i class="material-icons" (click)="categoryFavClick($event, item)">favorite</i></div>
      <div class="image" [style.background-image]="item.imgLink" (click)="listClick($event, item)">
          <!-- <div class="symbol">{{item.symbol}}</div> -->
          <div class="title">{{item.title|titlecase}}</div>
      </div>      
    </div>
  </div>
</div>