@import "../../color-font.scss";

.top-level{
  height: 600px;
  .container{
    width: 100%;
    height: 520px;
    padding-bottom: 20px;
    overflow-y: scroll;
    .container-item{
      height: 140px;
      width: 840px;
      color: $light-grey;
      position: relative;
      border: 2px solid $outline-box;
      margin-left: 15px;
      .news-img{
        background-size: cover;
        background-position: center;
        height: 120px;
        width: 150px;
        position: absolute;
        left: 10px;
        top: 10px;
      }
      .title{
        font-size: 22px;
        position: absolute;
        left: 200px;
        top: 10px;
        width: 600px;
        font-family: $font2;
        line-height: 30px;
        padding-left: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;    
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
        /* autoprefixer: off */
      }
      .cross{
        position: absolute;
        right: 0px;
        i{
          color: $light-grey;          
          &:hover{
            color: $white;
            cursor: pointer;
          }
        }
      }
      .source{
        font-weight: lighter;
        position: absolute;
        bottom: 0px;
        left: 210px;
        margin-bottom: 10px;
        font-size: 12px;
        span{
          display: block;
        }
      }
      .view-more{
        position: absolute;
        right: 10px;
        bottom: 10px;
        padding: 5px 10px;
        border: 1px solid $light-grey;
        border-radius: 5px;
        font-size: 14px;
        &:hover{
          border-color: $white;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (min-height: 700px) {
  .top-level{
    height: 100%;
    .container{
      height: 550px;
    }
  }
}
@media only screen and (min-height: 800px) {
  .top-level{
    height: 100%;
    .container{
      height: 650px;
    }
  }
}

@media only screen and (min-height: 1000px) {
  .top-level{
    height: 100%;
    .container{
      height: 850px;
    }
  }
}