.container{
  animation: fadeInFromNone 2s ease-in-out; 
  // opacity: 0;
  position: relative;
  text-align: center;
  color: white;
  .centered{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -360px;
    width: 70%;
    .additionalInfo{
      position: relative;
      text-align: center;
      width: 48%;
      margin: auto;      
      a{
        color: gray;
      }      
    }
    form{
      position: relative;
      top: 50px;
      width: 55%;
      margin: auto; 
      input{
        width: 100%;
        height: 30px;
        background-color: transparent;
        color: white;
        padding: 4px 10px;
        outline: none;
        border: none;
        &:focus{
          outline: 0.5px solid white;
        }
      }
    }
    .validationMsg{
      position: relative;
      text-align: center;
      width: 40%;
      top: 60px;
      margin: auto;  
      font-size: 12px;
      font-weight: 300;
      opacity: 0.5;
      color: tomato;
    }
  }
}
@keyframes fadeInFromNone {
  0%{
    display: none;
    opacity: 0;
  }
  100% {
      display: block;
      opacity: 1;
  }
}