.container{
  animation: fadeInFromNone 2s ease-in-out; 
  position: fixed;  
  color: white;
  width: 1100px;
  margin-left: 0px;
  .centered{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -360px;
    text-align: center;
    .additionalInfo{
      position: relative;
      text-align: center;
      width: 39%;
      margin: auto;      
      a{
        color: gray;
      }      
    }
    form{
      position: relative;
      top: 45px;
      width: 55%;
      margin: auto; 
      input{
        width: 66%;
        height: 20px;
        background-color: transparent;
        color: white;
        padding: 4px 10px;
        outline: none;
        border: none;
        font-size: 12px;
        &:focus{
          outline: 0.5px solid white;
          box-shadow: none;
        }
      }
    }
    .validationMsg{
      position: relative;
      text-align: center;
      width: 40%;
      top: 60px;
      margin: auto;  
      font-size: 12px;
      font-weight: 300;
      opacity: 0.5;
      color: tomato;
    }
  }
}
@keyframes fadeInFromNone {
  0%{
    display: none;
    opacity: 0;
  }
  100% {
      display: block;
      opacity: 1;
  }
}