$light-grey: #b3b3b3;
$white: #ffffff;
$transparent-white: rgba(255, 255, 255, 0.6);
$transparent-black: rgba(0, 0, 0, 0.6);
$outline-grey: #adabab;
$light-grey: #b3b3b3;
$bg-side-bar: #121212;
$bg-main: #181818;
$blue-color: #00c9f3;
$outline-box: #242424;
$font1: Lato, sans-serif;
$font2: Verdana, serif;
$notif-black: #1b1b1b;
$bg-black: #000000;
$gray-hover: #373737;
$deep-blue: #005884;