$light-grey: #b3b3b3;
$white: #ffffff;
$transparent-white: rgba(255, 255, 255, 0.6);
$outline-grey: #adabab;
$bg-side-bar: #121212;
$bg-main: #181818;
$blue-color: #00c9f3;
$outline-box: #242424;
$font1: Lato, sans-serif;
$font2: Tinos, serif;

.top-level{
  width: 900px;
  height: 600px;
  .container{
    width: 900px;
    margin-top: 50px;
    padding: 50px 10px 0px;
    height: 600px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
    .h-carousel{
      background-color: #b3b3b3;
    }
    .sub-box{
      height: 220px;
      width: 100%;
      background-size: cover;
      background-position: center;  
      position: relative;     
      .filter{
        height: 100%;
        width: 100%; 
        background-image: linear-gradient( rgba(0, 0, 0, 0),#000);
      }
      .title{
        position: absolute;
        color: $transparent-white;
        bottom: 7px;
        padding: 0px 10px;
        cursor: pointer;
        height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;
        max-height: 32px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        &:hover{
          color: $white;
        }
      }
    }
  }
}