@import "../../color-font.scss";

.errorWindow{
  position: absolute;
  z-index: 2;
  opacity: 1;
  width: 900px;
  height: 600px;
  margin-top: 50px;
  background-color: black;
  .container{
    color: $white;
    margin: 100px 50px;
    h2{
      font-size: 3.00rem;
    }
    p{
      opacity: 0.9;
    }
    .btn{
      margin-top: 29px;
      background-color: $blue-color;
      filter: grayscale(1);
      &:hover{
        filter: grayscale(0) !important;
      }
    }
  }
}

.top-level{
  overflow: hidden;
  .search-bar{
    display: inline-block;
    margin: 50px 10px 10px;
    height: 30px;
    background-color: $white;
    width: 250px;
    border-radius: 20px;
    i{
      padding: 4px 5px;
      &:hover{
        color: inherit;
      }
    }   
    form{
      display: inline;      
      color: white;
      input{
        display: inline;
        color: $outline-box;
        font-size: 14px;
        position: absolute;
        height: 30px;
        width: 200px;
        border: none;
        &:focus{
          border-bottom: none !important;
          box-shadow: none;
        }
      }
    }
  }     

  .container{
    width: 900px;
    padding: 35px 10px 0px;
    height: 550px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
    .h-carousel{
      background-color: #b3b3b3;
    }
    .sub-box{
      height: 220px;
      width: 100%;
      background-size: cover;
      background-position: center;  
      position: relative;     
      .filter{
        height: 100%;
        width: 100%; 
        background-image: linear-gradient( rgba(0, 0, 0, 0),#000);
      }
      .title{
        position: absolute;
        color: $transparent-white;
        bottom: 7px;
        padding: 0px 10px;
        cursor: pointer;
        height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;
        max-height: 32px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        &:hover{
          color: $white;
        }
      }
    }
  }
}
@media only screen and (min-height: 700px) {
  .top-level{
    height: 100%;
    .container{
      height: 100%;
    }
  }
}