<div class="errorWindow" *ngIf="noInternet">
  <div class="container">
    <h2>NO INTERNET CONNECTION</h2>
    <p>Please check your internet connection and try again</p>
    <div class="btn" (click)="refresh()">
      Retry
    </div>

  </div>
</div>
<div class="top-level">
  <div class="search-bar">
    <i class="Small material-icons">search</i>
    <form (keydown)="keyDownFunction($event)">
      <input id="search" name="txt" type="text" placeholder="Search">
    </form>      
  </div>
  <div class="container">
    <div class="sub-box" *ngFor="let item of news" [defaultImage]="loadingImage" [lazyLoad]="item.image">
        <div class="filter"></div>
          <div class="title" (click)="viewNews($event, item)">{{item.title}}</div>
    </div>
  </div>
</div>