<div class="errorWindow" *ngIf="noInternet">
  <div class="container">
    <h2>NO INTERNET CONNECTION</h2>
    <p>Please check your internet connection and try again</p>
    <div class="btn" (click)="refresh()">
      Retry
    </div>

  </div>
</div>
<div class="top-level">
  <div class="top-bar">
    <div class="search-bar">
      <i class="Small material-icons">search</i>
      <form (keydown)="keyDownFunction($event)">
        <input id="search" name="txt" type="text" placeholder="Search">
      </form> 
    </div>
    <div class="filter">
      <!-- Sort by -->
      <select *ngIf="filterOption" id="filter-sort" (change)="searchData($event.target.value)">
        <option value="publishedAt">Latest</option>
        <option value="relevancy">Relevant</option>
        <option value="popularity">Popular</option>
      </select>
    </div>
  </div>
  <div class="wrapper">
    <div class="server-side-notification">
      <div class="notification-window">
        <div class="cross" (click)="closeNotification($event)"><i class="material-icons">clear</i></div>
        <div class="notification-title">New Updates</div> 
        <div class="notification-img-full" [defaultImage]="loadingImage" [lazyLoad]="notificationImg"></div> 
        <!-- <div class="notification-content">
          <ul>
            <li>List 1</li>
            <li>List 1</li>
            <li>List 1</li>
            <li>List 1</li>
          </ul>
        </div>  -->
      </div>
    </div>
    <div class="container">
      <div class="sub-box" *ngFor="let item of news" [defaultImage]="loadingImage" [lazyLoad]="item.image">
          <div class="filter"></div>
            <div class="title" (click)="viewNews($event, item)">{{item.title}}</div>
      </div>
    </div>
    <div *ngIf="moreNewsOption" class="more-news" (click)="moreNewsFunction()">Load More</div>
  </div>  
</div>