<!-- <div class="top-bar">
</div> -->
<div class="title-bar">
  <div class="move-btns">
    <i class="Small material-icons" (click)="goBack($event)">chevron_left</i>
    <!-- <i class="Small material-icons">rotate_right</i> -->
    <i class="Small material-icons" (click)="goForward($event)">chevron_right</i>
    <div class="search-bar">
      <i class="Small material-icons">search</i>
      <input type="text">
    </div>
  </div>
  <div class="account">
    <i class="material-icons">person_outline</i>
    <span class="username">{{accountDetails.username}}</span>
    <i class="material-icons">keyboard_arrow_down</i>
  </div>
  <div class="notification">
    <i class="material-icons" (click)="displayNotification()">notifications_none</i>
    <div class="notification-display" *ngIf="displayNotificationBool">
      <p *ngFor="let item of notificationArr">
        {{item}}
      </p>
    </div>
  </div>
</div>
<div class="container">
  <nav class="vertical-menu">
    <img src="./assets/img/Logo.png">
    <div class="item" [ngClass]="{'active': selectedItem == item.title}" (click)="listClick($event, item)" *ngFor="let item of subNavItem"><i class="material-icons">{{item.icon}}</i><div class ="list-title" >{{item.title}}</div></div>
    <div class="additional-info">Your Collection</div>
    <div class="userItem" [ngClass]="{'active': selectedItem == item.title}" (click)="listClick($event, item)" *ngFor="let item of subNavUserItem"><p>{{item.title}}</p></div>
  </nav>
  <router-outlet></router-outlet>
</div>
