$light-grey: #b3b3b3;
$white: #ffffff;
$bg-side-bar: #121212;
$bg-main: #181818;
$blue-color: #00c9f3;
$font1: Lato, sans-serif;
$font2: Tinos, serif;

.top-level{
  width: 900px;
  height: 600px;
  overflow-y: hidden;
  .window-title{
    margin: 20px 0px 20px 30px;
    color: $white;
  }
  .container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: 520px;
    padding-bottom: 20px;
    row-gap: 20px;
    text-align: center;
    justify-content: space-evenly;
    overflow-y: scroll;
    .container-item{
      color: $white;
      width: 190px;
      position: relative;
      cursor: pointer;
      .image{
        background-color: $bg-main;
        color: $light-grey;
        width: 160px;
        margin: auto;
        height: 190px;
        margin-top: 5px;
        position: relative;
        transition: all 500ms ease-in-out;
        img{
          height: 160px;
          filter: grayscale(0.6);
        }        
        &:hover{
          color: white;
          img{
            filter: grayscale(0);
          }
        }
      }
      i{
        position: absolute;
        color: white;
        right: -10px;
        transition: all 300ms ease-in-out;
        &:hover{
          color: red;
        }
      }      
    }
  }  
}
.active{
  i{
    color: red !important;
  }  
}
@media only screen and (min-height: 700px) {
  .top-level{
    height: 100%;
    .container{
      height: 550px;
    }
  }
}
@media only screen and (min-height: 800px) {
  .top-level{
    height: 100%;
    .container{
      height: 650px;
    }
  }
}

@media only screen and (min-height: 1000px) {
  .top-level{
    height: 100%;
    .container{
      height: 850px;
    }
  }
}