<div class="top-level">
  <div class="window-title">
    <h1>{{newsRecent.title}}</h1>
  </div>
  <div class="container">
    <div class="heading-container">
      <div class="newsImg" *ngIf="newsRecent.urlToImage" [style.background-image]="newsRecent.image">
        <div class="bookmark"><img [ngClass]="{'active': bookmarked == true}" (click)="toggleBookmark($event)" src="./assets/img/icons/bookmark.png"></div>
        <div class="share">
          <img src="./assets/img/icons/Facebook.png">
          <img src="./assets/img/icons/Instagram.png">
          <img src="./assets/img/icons/WhatsApp.png">
          <img src="./assets/img/icons/Twitter.png">
        </div>
      </div>
      <div class="sub-description">
        <div class="source">
            <span>Source: {{newsRecent.source}}</span>
            <span>Date: {{newsRecent.date}}</span>
        </div>
        <div class="description">{{newsRecent.description}}</div>
      </div>      
    </div>  
    <div class="content">{{newsRecent.content}}</div>
  </div>
</div>