$light-grey: #b3b3b3;
$white: #ffffff;
$bg-side-bar: #121212;
$bg-main: #181818;
$blue-color: #00c9f3;
$font1: Lato, sans-serif;
$font2: Tinos, serif;

.top-level{
  width: 900px;
  .window-title{
    color: $white;
    h1{
      padding: 20px 20px 0px 40px;
      font-size: 30px;
    }
  }
  .container{
    width: 100%;
    height: 520px;
    padding-bottom: 20px;
    row-gap: 20px;
    text-align: center;
    justify-content: space-evenly;
    overflow-y: scroll;
    .heading-container{
      color: $light-grey;
      width: 900px;
      height: 300px;
      display: grid;
      grid-template-columns: 660px 220px auto;
      .newsImg{
        height: 260px;
        width: 600px;      
        background-size: cover;
        background-position: center;
        margin: 10px 30px;
        .bookmark{
          position: relative;
          img{
            position: absolute;
            height: 40px;
            right: 25px;
            top: -5px;
            filter: grayscale(1);
            &:hover{
              filter: none;
              cursor: pointer;
            }
          }
        }
        .share{
          display: grid;
          float: left;
          margin-top: 120px;
          img{
            width: 30px;
            margin: 2px 5px;
            filter: grayscale(1);
            opacity: 0.5;
            &:hover{
              opacity: 1;
              filter: none;
              cursor: pointer;
            }
          }
        }
      }
      .sub-description{
        text-align: left;
        .source{
          font-weight: lighter;
          margin: 10px 0px 20px;
          span{
            display: block;
          }
        }
        .description{
          text-align: justify;
        }
      }
    }  
    .content{
      color: white;
      text-align: justify;
    }  
  }  
}
.active{
  .image{
    background-color: #00c9f3 !important;
    filter: none !important;
  }  
}